html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.material-icons {
  text-decoration: none;
  cursor: pointer;
  padding-right: 8px;
  color: white;
}

:root {
  --mdc-theme-primary: #394a6e;
  --mdc-theme-secondary: #394a6e;
}

.mdc-list-item--activated i {
  color: inherit;
}
