html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.material-icons {
  text-decoration: none;
  cursor: pointer;
  padding-right: 8px;
  color: white;
}
@import "@material/textfield/mdc-text-field";
:root {
  --mdc-theme-primary: #394a6e;
  --mdc-theme-secondary: #394a6e;
}

.mdc-drawer .mdc-list-item--activated {
  color: #394a6e;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: #394a6e;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #394a6e;
}

#loginLogo {
  max-width: 100px;
}
#login-div-esq,
#login-div-dir {
  height: 100%;
  position: absolute;
  z-index: 1;
}

#login-div-esq {
  width: 45%;
}

#login-div-dir {
  width: 55%;
}

#login-div-esq {
  left: 0;
  background-image: url("./images/login-bg.jpg");
  background-size: cover;
}

#login-div-dir {
  right: 0;
  background-color: #f9f9f9;
}

#login-container {
  text-align: center;
  z-index: 5;
  position: relative;
  width: 100%;
}

#login-header,
#login-form {
  width: 80%;
  display: inline-block;
  vertical-align: top;
}

#login-header {
  margin-top: 15%;
  /* background-color: red; */
}

#login-form {
  /* 
  background-color: orange; */
}

#divEmail,
#divSenha,
#divEntrar {
  margin-top: 25px;
}

#loginEmail,
#loginSenha {
  width: 300px;
  padding-top: 10px;
}

#loginEntrar {
  height: 54px;
  width: 300px;
}

@media (max-width: 1000px) {
  #login-div-esq {
    display: none;
  }
  #login-div-dir {
    width: 100%;
  }
  #loginEmail,
  #loginSenha {
    width: 400px;
  }
}
